body{
  background-color: #2E2E2E;
  color: #f5f5f5;
  font-family:monospace;
  font-size: 1.3em;
  padding-left: 7em;
  padding-right: 7em;
}
img{
  position: absolute;
  top: 2em;
  left: 2em;
}
a{
  text-decoration: none;
  color: whitesmoke;
}
h1{
  color:#8c8c73;
  font-size: 5em;
  display: flex;
  justify-content: center;
  font-family: Jazz LET, fantasy;
  position: relative;
  top: 0.01em;
}
h2{
  font-size: 3em;
  color:#8c8c73;
  display: flex;
  justify-content: center;
  font-family: Jazz LET, fantasy;
}
h3{color:#B0B0B0}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}


.wellcome{
  background-color: #303030;
  border: 0.1em solid whitesmoke;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:1em 3em;
  display: flex;
  justify-content: center;   
}
.cont1{
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}
.cont2_L{
  background-color: #303030;
  width: 50em;
  border: 0.1em solid whitesmoke;
  border-radius: 25px;
  padding:1em 3em;
  margin-right: 3em;
}
.cont2_R{
  background-color: #303030;
  width: 50em;
  border: 0.1em solid whitesmoke;
  border-radius: 25px;
  padding:1em 3em;
  margin-left: 3em;
}
.cont3{
  display: flex;
}
.subdiv{
  justify-content: center;
  background-color: #303030;
  width: 10em;
  border: 0.1em solid whitesmoke;
  border-radius: 25px;
  padding: 3em 1em;
  margin: 1em;
}
.subdiv_ponta_L{
  justify-content: center;
  background-color: #303030;
  width: 10em;
  border: 0.1em solid whitesmoke;
  border-radius: 25px;
  padding: 3em 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.subdiv_ponta_R{
  justify-content: center;
  background-color: #303030;
  width: 10em;
  border: 0.1em solid whitesmoke;
  border-radius: 25px;
  padding: 3em 1em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.wellcome:hover{
  box-shadow: 0 0 0.8em #f5f5f5;
  border: none;
}
.cont2_R:hover{
  box-shadow: 0 0 0.8em #f5f5f5;
  border: none;
}
.cont2_L:hover{
  box-shadow: 0 0 0.8em #f5f5f5;
  border: none;
}
.subdiv:hover{
  box-shadow: 0 0 0.8em #f5f5f5;
  border: none;
}
.subdiv_ponta_R:hover{
  box-shadow: 0 0 0.8em #f5f5f5;
  border: none;
}
.subdiv_ponta_L:hover{
  box-shadow: 0 0 0.8em #f5f5f5;
  border: none;
}
